<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">
	<application android:icon="@mipmap/ic_launcher" android:label="Copy text">
		<activity android:name=".MainActivity" android:exported="true" android:theme="@style/a">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>
		</activity>
	</application>
</manifest>